@use 'sass:color';
@use '../../styles/variables' as *;

.category-icons {
  padding: 32px 0;
  background: $branco;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 42px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  &__box {
    width: 88px;
    height: 88px;
    background: $cinza-claro;
    border-radius: 8px;
    @include flex-center;
    transition: background 0.2s;

    img {
      width: 48px;
      height: 48px;
    }

    &:hover {
      background: color.adjust($cinza-claro, $lightness: -5%);
    }
  }

  &__label {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 500;
    color: $cinza-texto;
    text-align: center;
  }

  &__item--active &__label {
    color: #3019B2;
    font-weight: 700;
  }

  &__item--active &__box {
    background: $branco;
  }
}