@use '../../styles/variables' as *;

.header {
  width: 100%;
  background: $branco;

  // ── Topbar ──────────────────────────
  &__topbar {
    background: $branco;
    padding: 8px 0;
    font-size: 12px;
    color: $cinza-texto;
    
    
  }

  &__topbar-inner {
  @include flex-between;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  height: 40px;
}


&__topbar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: $cinza-medio;

  img {
    width: 18px;
    height: 18px;
  }

  strong {
    color: #3019B2;
  }
}

  // ── Main (logo + search + icons) ────
  &__main {
    padding: 16px 0;
  }

  &__main-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px; // VALOR DO FIGMA
  margin: 0 auto;    // Centraliza o bloco na tela
  padding: 0 40px;   // Respiro interno lateral

}

  // Logo
  &__logo {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
  }

  &__logo-circle {
    background: $amarelo;
    color: $roxo-escuro;
    font-weight: 700;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    @include flex-center;
  }

  &__logo-text {
    font-size: 20px;
    font-weight: 700;
    color: $roxo-escuro;
  }

  // Search
  &__search {
    flex: 1;
    max-width: 630px;
    height: 48px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background: $cinza-search;
    
  }

  &__search-input {
    flex: 1;
    padding: 0 16px;
    border: none;
    background: transparent;
    font-family: $font-main;
    font-size: 14px;
    color: $preto;
    outline: none;

    &::placeholder {
      color: $cinza-medio;
    }
  }

  &__search-btn {
    padding: 0 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  // Icons
  &__icons {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__icon-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: $preto;

    &:hover {
      color: $azul;
    }
  }

  // Nav
&__nav {
  border-bottom: 1px solid $cinza-secao;
}

&__nav-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;  
  height: 48px;
  white-space: nowrap;
}

&__nav-link {
  font-size: 12px;
  font-weight: 500;
  color: $cinza-medio;
  text-decoration: none;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap; //  cada link em uma linha

  &:hover { color: $azul; }

  &--active {
    color: #3019B2;
    font-weight: 700;
  }

  img {
    width: 16px;
    height: 16px;
  }
}
}