@use '../../styles/variables' as *;

.footer {
  background: $cinza-claro;

  &__inner {
    display: flex;
    gap: 90px;
    padding: 60px 40px;
    margin-top: 42px;
    margin-bottom: 42px;
  }

  // Coluna da esquerda (Logo e Redes)
  &__brand {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 250px;

    // Linha divisória vertical (layout Figma)
    padding-right: 80px;
    border-right: 1px solid $cinza-secao;
  }

  &__logo {
    img {
      width: 164px;
      height: 48px;
    }
  }

  &__logo-e {
    background: $amarelo;
    color: $roxo-escuro;
    font-weight: 800;
    font-size: 16px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    @include flex-center;
  }

  &__logo-text {
    font-size: 18px;
    font-weight: 700;
    color: $roxo-escuro;
  }

  &__description {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: $cinza-texto;
    line-height: 1.5;
    max-width: 350px;
  }

  &__social {
    display: flex;
    gap: 24px;
  }

  &__social-link {
    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  // Colunas da direita (Links)
  &__links {
    display: flex;
    flex: 1;
    justify-content: space-between; // Distribui as colunas igualmente
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__col-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $preto;
    margin-bottom: 24px;
  }

  &__col-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      font-family: 'Work Sans', sans-serif; // Fonte específica para os itens da lista
      font-weight: 400;
      font-size: 14px;
      color: $cinza-texto;
      transition: color 0.2s;

      &:hover { color: $azul; }
    }
  }

  // Faixa inferior
  &__bottom {
    padding: 14px 40px;

    p {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 13px;
      color: $cinza-texto;
      text-align: center;
    }
  }
}